
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 78px;
    -webkit-font-smoothing: antialiased;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 78px;
    background-color: #f5f5f5;
}

footer:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #1c667a;
    background: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: -o-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: -ms-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    height: 3px;
    width: 100%;
}

a {
    outline: none; /* Убираем границу вокруг ссылок  */
}

a:focus {
    outline: none;
    text-decoration: none;
}

@font-face {
    font-family: 'ProximaNovaCond';
    src: url('../fonts/proximanovacond-semibold-webfont.eot');
    src: url('../fonts/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanovacond-semibold-webfont.woff2') format('woff2'),
    url('../fonts/proximanovacond-semibold-webfont.woff') format('woff'),
    url('../fonts/proximanovacond-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1 {
    color: #3ba8c0;
    font-size: 27px;
    font-weight: 300;
    margin: 0px;

}

header {
    min-width: 840px;
    height: 116px;
    margin: 0 auto;
    background-color: #eff3f7;
    margin-bottom: 42px;;

}

header .row {
    padding: 0px;
    margin: 0px;
}

.logo {
    display: block;
    margin-left: 100px;
    margin-top: 29px;
    float: left;
}

.social-wrapper {
    float: right;
    margin-right: 100px;
    margin-top: 35px;

}

.social_but {
    list-style: none;
}

.social_but > li {
    float: left;
    margin-left: 24px;
}

.social_but li:first-child {
    margin: 0;
}

.social_but > li > a {
    display: block;
    width: 47px;
    height: 47px;

}

.vk_btn {

    background: url('../image/socialbut.png') 0 0;
}

.vk_btn:hover {

    background: url('../image/socialbut_hover.png') 0 0;
    transition: background ease .3s;
}

.twitter_btn {

    background: url('../image/socialbut.png') -70px 0;
}

.twitter_btn:hover {
    background: url('../image/socialbut_hover.png') -70px 0;
    transition: background ease .3s;
}

.facebook_btn {
    background: url('../image/socialbut.png') -141px 0;
}

.facebook_btn:hover {
    background: url('../image/socialbut_hover.png') -141px 0;
    transition: background ease .3s;
}

.github_btn {
    background: url('../image/socialbut.png') -212px 0;
}

.github_btn:hover {
    background: url('../image/socialbut_hover.png') -212px 0;
    transition: background ease .3s;
}


header:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #1c667a;
    background: -webkit-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: -moz-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: -o-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: -ms-linear-gradient(0deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    background: linear-gradient(90deg, #1c667a 0%, #f6fafe 0%, #d8d8d8 0%, #f2f6fa 0%, #b6ced6 28%, #1c667a 48%, #b4ccd5 71%, #f2f6fa 100%);
    height: 3px;
    width: 100%;
    top: 116px;
}

body {
    background: url("../image/comppattern2.png")
}

.container {
    padding: 0 100px 0 100px;
}

.menu {

    margin-bottom: 23px;

}

ul {
    padding: 0px;
    margin: 0px;

}

aside ul {
    width: 250px;

}

.main li {
    list-style: none;

}

.menu li {

    background-color: #eff3f7;
}

.menu li:first-child {

    border-radius: 5px 5px 0 0;
}

.menu li:last-child {

    border-radius: 0 0 5px 5px;
}

.menu a {
    display: block;
    width: 230px;
    line-height: 73px;
    padding-left: 17px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 300;
    text-decoration: none;
    color: #959aa8;
}

.menu li:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #3ba8c0;
    width: 230px;
    left: 20px;
}

.active:after {
    height: 0px !important;
}

.menu li:last-child:after {
    height: 0px !important;

}

.last_ie8:after {
    height: 0px !important;
}

.menu a:hover {

    text-decoration: none;
    color: #3ba8c0;
    border: none;
!important;
}

/*.menu li:last-child a{*/
/*border: none;*/
/*}*/

.about_me {
    display: block;
    border-radius: 5px 5px 0 0;

}

.my_works {

}

.contact_me {
    display: block;
    border-radius: 0 0 5px 5px;
}

.active a {
    background-color: #3ba8c0;
    color: #ffffff !important;
    font-size: 23px;
    width: 250px;
    line-height: 73px;
    padding-left: 27px;

}

.active a:hover {
    color: #fff;

}

.contacts li {

    width: 250px;
    font-size: 17px;
    font-weight: 300;
    line-height: 39px;
}

.contacts li a {
    color: #ffffff;
    padding-left: 83px;
    display: block;

}

.contacts_head {
    width: 250px;
    text-align: left;
    background-color: #3ba8c0;
    height: 40px;
    border-radius: 5px 5px 0 0;
    color: #fbfcfd;
    font-size: 21px;
    padding-left: 20px;
    line-height: 47px;
    margin: 0 0 0px;
}

.mail {
    background: url("../image/contacts_icons.png") 42px 12px no-repeat #41b9d4;

}

.phone {
    background: url("../image/contacts_icons.png") 42px -27px no-repeat #48cbe8;
}

.skype {
    background: url("../image/contacts_icons.png") 42px -66px no-repeat #51daf8;
    height: 38px;
    border-radius: 0px 0px 5px 5px;
}

footer {
    background-color: #eff3f7;
    height: 78px;
    text-align: center;
    font-family: "Fira Sans";
    color: #4a545d;
    font-size: 13px;
    font-weight: 400;
    line-height: 78px;

}

.main_info {
    border-radius: 4px;
    background-color: #eff3f7;
    margin-left: 65px;
    margin-bottom: 24px;
}

.header {
    display: inline-block;
    /*max-width: 340px;*/
    border-bottom: solid 2px #3ba8c0;

}

.header h1 {
    padding: 0 22px 0 22px;
    line-height: 67px;
    font-weight: 400;
}

.avatar {
    height: 200px;
    width: 200px;
    background: url("../image/avatar.png") center center no-repeat;

    margin: 16px 0 0 22px;

}

.info {
    margin: 20px 0 0 37px;
}

.info li {
    margin-bottom: 16px;
}

.info li:nth-last-child(1) {
    margin-bottom: 0px;
}

.info .main_word {
    color: #4a545d;
    font-weight: 500;
    font-size: 17px;
}

.info .second_word {
    color: #37424d;
    font-size: 15px;
    margin-left: 16px;
    font-weight: 400;
}

.info ul:last-child {
    margin-right: 22px;
}

.tabs {
    border-radius: 2px;
    background: -webkit-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    background: -moz-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    background: -o-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    background: -ms-linear-gradient(90deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e8ca2', endColorstr='#3ba8c0', GradientType=1); /* IE6-9 */
    background: linear-gradient(0deg, #2e8ca2 0%, #2e8ca2 47%, #3ba8c0 48%, #3ba8c0 100%);
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: "ProximaNovaCond";
    margin-left: 7px;
    margin-bottom: 7px;
}

.key_skills {
    display: inline-block;
    margin-right: 9px;
}

.skills {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-bottom: 19px;
}

/*.tabs:nth-last-child(5) {*/
/*margin-left: 17px;*/
/*margin-right: -2px;*/
/*}*/

/*.tabs:nth-last-child(2) {*/

/*margin: 5px 0 26px 172px;*/
/*}*/

.tabs > p {
    margin: 0px 13px;
}

.place {
    margin-top: 32px;
    margin-left: 65px;
    background: url("../image/port.png") 0px 4px no-repeat;
}

.year {
    font-size: 15px;
    font-weight: 300;
    padding-left: 66px;
}

.place_work {
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 0px;
    padding-left: 66px;
}

.place:last-child {
    margin-top: 25px;
    padding-bottom: 7px;
}

.place_education {
    margin-top: 32px;
    margin-left: 65px;
    background: url("../image/edu_ico.png") 0px 4px no-repeat;
}

.place_education:last-child {
    margin-top: 25px;
    margin-bottom: 37px;
    padding-bottom: 9px;
    background: url("../image/edu_ico.png") -2px -65px no-repeat;
}

.gallery {
    margin: 35px 21px 0 21px;
}

.img_prf > img {
    display: block;
    border-width: 2px;
    border-color: #3ba8c0;
    border-style: solid;
    border-radius: 10px;
}

.site {
    color: #3ba8c0;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    padding-top: 9px;
    margin: 0;
}

.pre {
    color: #4a545d;
    font-size: 15px;
    font-weight: 300;
    padding: 0 10px 0 10px;
    text-align: center;
    margin-bottom: 44px;
}

.img_prf:last-child {
    margin-bottom: 367px;
}

.img_prf > img:hover {
    box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.58);;
}

.header_2 {
    background-color: #48cbe8;

}

.header_2 h1 {
    color: #ffffff;
    font-size: 27px; /* Approximation due to font substitution */
    font-weight: 300;
    text-align: center;
    line-height: 121px;
}

.line_2 {
    height: 17px;
    background-color: #67dffa;
}

.input_data {

    padding: 46px 0 0 135px;

}

.input_d {
    display: inline-block;
    padding-right: 20px;
}

.input_d p, .contact_textarea p {
    font-size: 19px;
    color: #959aa8;
    margin: 0;
}

.contact_textarea {
    padding: 18px 147px 0 0px;
}

.buttons_1 {
    margin: 33px 0px 67px
}

.sent {
    border-radius: 5px;
    width: 139px;
    height: 31px;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    line-height: 19px;
    background: #48cbe8;
    border-bottom: 3px solid #3ba8c0;


}

.clear {
    border-radius: 5px;
    width: 139px;
    height: 31px;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    line-height: 19px;
    background: #849db5;
    border-bottom: 3px solid #687b8f;
    float: right;

}

.sent:hover {

    color: #fff;
    border-bottom: none;

}

.sent:focus {
    color: #fff;
}

.clear:focus {
    color: #fff;
}

.clear:hover {
    border-bottom: none;

    color: #fff;
}

.sent:active {
    border-top: 3px solid #3ba8c0;
    color: #fff;
}

.clear:active {
    border-top: 3px solid #687b8f;
    color: #fff;
}

.add_project {
    display: block;
    height: 127px;
    width: 180px;
    background: url("../image/add_project.png") center 37% no-repeat #ecfbff;
    border: dashed 1px #3ba8c0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    padding-top: 73px;
}

.add_project:hover {
    text-decoration: none;
}


.add_image {
    display: block;
    height: 35px;
    width: 50px;
    background: url("../image/add_image.png") center no-repeat #48cbe8;
    border: 1px solid #48cbe8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 0;
    float: left;

}

#InputFile {
    float: left;
    display: block;
    width: 84% !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.tooltip-inner {
    padding: 5px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #f97e76;
    border-radius: 4px;
}

.tooltip.left .tooltip-arrow, .tooltip.right .tooltip-arrow {

    border-left-color: #f97e76 !important;
    border-right-color: #f97e76 !important;
}

/*==================================================*/
.view {
    max-width: 181px;
    max-height: 127px;
    border-radius: 5px;
    border: 2px solid #3ba8c0;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.view .mask, .view .content {
    max-width: 181px;
    max-height: 127px;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view a.infor {
    background: url(../image/edu_ico.png) center no-repeat;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    /*text-indent:9999px;*/
    width: 100px;
    height: 24px;
}

.third-effect .mask {
    opacity: 0;
    overflow: visible;
    border: 100px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.third-effect a.infor {
    position: relative;
    top: -45px;
    right: 59px;
    opacity: 0;
    transition: opacity 0.5s 0s ease-in-out;
    border: solid 2px #ffffff;
    border-radius: 4px;
    color: #ffffff;
}

.third-effect:hover .mask {
    opacity: 1;
    border: 100px solid rgba(1, 108, 164, 0.7);
}

.third-effect:hover a.infor {
    opacity: 1;
    transition-delay: 0.3s;
}

.modal-dialog {
    width: 362px;
    border-radius: 10px;
}

.modal-open label {
    font-size: 17px;
    color: #959aa8;
}

.modal-header {
    /*height: 35px;*/
    font-size: 25px;
    color: #ffffff;
    background-color: #48cbe8;
    border-bottom: solid 9px #67dffa;

}

.modal-open .close {
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    opacity: 1;
}

.modal-open .btn-primary {
    background-color: #48cbe8;
}

.modal-open .btn-primary:hover {

}

.menu-pl {
    width: 25px;
    height: 21px;
    background: url("../image/menu-pl.png") no-repeat center;
    margin-right: 41px;
    margin-top: 13px;
    display: none;
}

.social_but li:last-child {
    /*display: none;*/
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1201px) {
    .container {
        padding: 0 10px 0 10px;
    }

    /*.main, .main_info{*/
    /*margin-left: 0;*/
    /*}*/
}

.contact_wrapper {
    width: 402px;
    margin: 43px auto;
}

.name {
    float: left;
    width: 190px;
}

.email {
    float: right;
    width: 190px;
}

.alert {
    text-align: center;
}

.contact_wrapper label {
    font-size: 17px;
    color: #959aa8;
    font-weight: 300;
}

.contact_wrapper .form-group {
    margin-bottom: 0;
}

.capcha {
    margin-top: 38px;
    margin-left: 48px;
}

.text_area {
    margin-top: 14px;
}

footer p {
    margin: 0;
    display: inline-block;

}

.lock {
    display: inline-block;
    background: url("../image/login.png") center no-repeat;
    margin-top: 20px;
    height: 32px;
    width: 25px;
    margin-left: 100px;
}

.lock:hover {
    background: url("../image/login-hover.png") center no-repeat;
    transition: background ease .3s;
}

